{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
    <section id="containerIntro">
        <div id="blocEntrantGauche"></div>
        <div id="textePipeIntro"><a href="{{path('laPipe')}}">La Pipe</a></div>
        <div id="texteOuIntro">ou</div>
        <div id="blocEntrantDroite"></div>
        <div id="texteCafeIntro"><a href="{{path('leCafe')}}">Le Café</a></div>
    </section>
{% endblock %}
