{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
    <h1>Hello world !</h1>
    <p id="testTransition">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium deleniti perferendis harum eaque 
        error vel provident itaque velit odio aut quibusdam doloremque, fugit exercitationem eius corrupti, 
        mollitia reprehenderit! Autem pariatur molestias deserunt praesentium voluptatibus repellat perferendis
        reprehenderit accusamus dicta est officiis cupiditate dignissimos ratione tempora, voluptates maiores
        fuga sequi nihil neque cumque, atque in doloremque voluptatum! Facere modi amet expedita ducimus 
        perspiciatis placeat magni saepe quae reprehenderit quisquam adipisci fuga recusandae officia rerum,
        officiis ipsam non illum aliquam atque? Blanditiis quae, sit possimus debitis doloribus reiciendis,
        eaque perferendis temporibus natus fugit eveniet laboriosam. Ut reprehenderit itaque hic praesentium
        molestiae sunt?
    </p>
        <p id="testTransition2">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium deleniti perferendis harum eaque 
        error vel provident itaque velit odio aut quibusdam doloremque, fugit exercitationem eius corrupti, 
        mollitia reprehenderit! Autem pariatur molestias deserunt praesentium voluptatibus repellat perferendis
        reprehenderit accusamus dicta est officiis cupiditate dignissimos ratione tempora, voluptates maiores
        fuga sequi nihil neque cumque, atque in doloremque voluptatum! Facere modi amet expedita ducimus 
        perspiciatis placeat magni saepe quae reprehenderit quisquam adipisci fuga recusandae officia rerum,
        officiis ipsam non illum aliquam atque? Blanditiis quae, sit possimus debitis doloribus reiciendis,
        eaque perferendis temporibus natus fugit eveniet laboriosam. Ut reprehenderit itaque hic praesentium
        molestiae sunt?
    </p>
{% endblock %}
