{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
    <section id="containerIntro">
        <div id="blocEntrantGauche"></div>
        <div id="blocEntrantDroite"></div>
    </section>
{% endblock %}
