{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
    <section id="containerIntro">
        <div id="blocEntrantGauche"></div>
        <span id="textePipeIntro">La Pipe</span>
        <span id="texteOuIntro">ou</span>
        <span id="texteCafeIntro">Le Café</span>
        <div id="blocEntrantDroite"></div>
    </section>
    
{% endblock %}
