{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
<div id="bodyPipe">
    {% include 'includes/navbar.html.twig' %}
    {# <h1>La page de la Pipe</h1> #}
    <!-- Mise en place test animation -->
     <section>
         <div id="test">
            <h2>La pipe Française</h2>
            <p>Retrouvez dans votre espace commercial la plus grande sélection de pipes fabriquées
                  entièrement en France !
            </p>
            <a href="#">Cliquez ici</a>
         </div>
    </section>


    <!-- Fin mise en place test animation -->

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, facilis earum veritatis ipsa perferendis modi 
    architecto autem odit id alias expedita temporibus nesciunt officiis aliquam animi doloremque fugit ex fugiat
        dolore ad at voluptatum non! Libero necessitatibus non accusantium aliquam fugit corporis, deleniti, culpa 
        alias modi nemo maxime nulla amet!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatem est, dolorem porro mollitia ipsum! 
    Tempora et sequi maxime error ex enim neque est ab! Cumque repellat est incidunt hic.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, facilis earum veritatis ipsa perferendis modi 
    architecto autem odit id alias expedita temporibus nesciunt officiis aliquam animi doloremque fugit ex fugiat
        dolore ad at voluptatum non! Libero necessitatibus non accusantium aliquam fugit corporis, deleniti, culpa 
        alias modi nemo maxime nulla amet!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatem est, dolorem porro mollitia ipsum! 
    Tempora et sequi maxime error ex enim neque est ab! Cumque repellat est incidunt hic.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, facilis earum veritatis ipsa perferendis modi 
    architecto autem odit id alias expedita temporibus nesciunt officiis aliquam animi doloremque fugit ex fugiat
        dolore ad at voluptatum non! Libero necessitatibus non accusantium aliquam fugit corporis, deleniti, culpa 
        alias modi nemo maxime nulla amet!
    </p>
    <section>
        <div id="test2">
            <h2>La pipe Belge</h2>
            <p>Profitez du plus large choix de pipes Belges certifiées 100% fabriquées à la main en Wallonnie par les
                meilleurs artisans du plat pays !
            </p>
            <a href="#">Cliquez ici</a>
        </div>
    </section>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatem est, dolorem porro mollitia ipsum! 
    Tempora et sequi maxime error ex enim neque est ab! Cumque repellat est incidunt hic.
    </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, facilis earum veritatis ipsa perferendis modi 
    architecto autem odit id alias expedita temporibus nesciunt officiis aliquam animi doloremque fugit ex fugiat
        dolore ad at voluptatum non! Libero necessitatibus non accusantium aliquam fugit corporis, deleniti, culpa 
        alias modi nemo maxime nulla amet!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatem est, dolorem porro mollitia ipsum! 
    Tempora et sequi maxime error ex enim neque est ab! Cumque repellat est incidunt hic.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, facilis earum veritatis ipsa perferendis modi 
    architecto autem odit id alias expedita temporibus nesciunt officiis aliquam animi doloremque fugit ex fugiat
        dolore ad at voluptatum non! Libero necessitatibus non accusantium aliquam fugit corporis, deleniti, culpa 
        alias modi nemo maxime nulla amet!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatem est, dolorem porro mollitia ipsum! 
    Tempora et sequi maxime error ex enim neque est ab! Cumque repellat est incidunt hic.
    </p>
    <section>
        <div id="test3">
            <h2>La pipe Espagnole</h2>
            <p>Notre selection de pipes Espagnoles, fabriquées par des artisans locaux, sont à découvrir au plus vite dans
                votre espace client !
            </p>
            <a href="#">Cliquez ici</a>
        </div>
    </section>    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, facilis earum veritatis ipsa perferendis modi 
    architecto autem odit id alias expedita temporibus nesciunt officiis aliquam animi doloremque fugit ex fugiat
        dolore ad at voluptatum non! Libero necessitatibus non accusantium aliquam fugit corporis, deleniti, culpa 
        alias modi nemo maxime nulla amet!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatem est, dolorem porro mollitia ipsum! 
    Tempora et sequi maxime error ex enim neque est ab! Cumque repellat est incidunt hic.
    </p>
    {% include 'includes/footbar.html.twig' %}
</div>

{% endblock %}
