{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
<div id="bodyPipe">
    {% include 'includes/navbar.html.twig' %}
    <h1>La page de la Pipe</h1>
    <!-- Mise en place test animation -->
     <section>
         <div id="test">
             <h2>Test animation</h2>
             <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Quos, omnis accusantium? Laborum iste reiciendis alias aut
                  dolores dolore officiis reprehenderit dolor, enim fugit</p>
            <a href="#">Cliquez ici</a>
         </div>
    </section>


    <!-- Fin mise en place test animation -->

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, facilis earum veritatis ipsa perferendis modi 
    architecto autem odit id alias expedita temporibus nesciunt officiis aliquam animi doloremque fugit ex fugiat
        dolore ad at voluptatum non! Libero necessitatibus non accusantium aliquam fugit corporis, deleniti, culpa 
        alias modi nemo maxime nulla amet!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatem est, dolorem porro mollitia ipsum! 
    Tempora et sequi maxime error ex enim neque est ab! Cumque repellat est incidunt hic.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, facilis earum veritatis ipsa perferendis modi 
    architecto autem odit id alias expedita temporibus nesciunt officiis aliquam animi doloremque fugit ex fugiat
        dolore ad at voluptatum non! Libero necessitatibus non accusantium aliquam fugit corporis, deleniti, culpa 
        alias modi nemo maxime nulla amet!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatem est, dolorem porro mollitia ipsum! 
    Tempora et sequi maxime error ex enim neque est ab! Cumque repellat est incidunt hic.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, facilis earum veritatis ipsa perferendis modi 
    architecto autem odit id alias expedita temporibus nesciunt officiis aliquam animi doloremque fugit ex fugiat
        dolore ad at voluptatum non! Libero necessitatibus non accusantium aliquam fugit corporis, deleniti, culpa 
        alias modi nemo maxime nulla amet!
    </p>
    <section>
        <div id="test2">
            <h2>Test animation 2</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Quos, omnis accusantium? Laborum iste reiciendis alias aut
                dolores dolore officiis reprehenderit dolor, enim fugit</p>
            <a href="#">Cliquez ici</a>
        </div>
    </section>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatem est, dolorem porro mollitia ipsum! 
    Tempora et sequi maxime error ex enim neque est ab! Cumque repellat est incidunt hic.
    </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, facilis earum veritatis ipsa perferendis modi 
    architecto autem odit id alias expedita temporibus nesciunt officiis aliquam animi doloremque fugit ex fugiat
        dolore ad at voluptatum non! Libero necessitatibus non accusantium aliquam fugit corporis, deleniti, culpa 
        alias modi nemo maxime nulla amet!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatem est, dolorem porro mollitia ipsum! 
    Tempora et sequi maxime error ex enim neque est ab! Cumque repellat est incidunt hic.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, facilis earum veritatis ipsa perferendis modi 
    architecto autem odit id alias expedita temporibus nesciunt officiis aliquam animi doloremque fugit ex fugiat
        dolore ad at voluptatum non! Libero necessitatibus non accusantium aliquam fugit corporis, deleniti, culpa 
        alias modi nemo maxime nulla amet!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatem est, dolorem porro mollitia ipsum! 
    Tempora et sequi maxime error ex enim neque est ab! Cumque repellat est incidunt hic.
    </p>
    <section>
        <div id="test3">
            <h2>Test animation 3</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Quos, omnis accusantium? Laborum iste reiciendis alias aut
                dolores dolore officiis reprehenderit dolor, enim fugit</p>
            <a href="#">Cliquez ici</a>
        </div>
    </section>    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, facilis earum veritatis ipsa perferendis modi 
    architecto autem odit id alias expedita temporibus nesciunt officiis aliquam animi doloremque fugit ex fugiat
        dolore ad at voluptatum non! Libero necessitatibus non accusantium aliquam fugit corporis, deleniti, culpa 
        alias modi nemo maxime nulla amet!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatem est, dolorem porro mollitia ipsum! 
    Tempora et sequi maxime error ex enim neque est ab! Cumque repellat est incidunt hic.
    </p>
    {% include 'includes/footbar.html.twig' %}
</div>

{% endblock %}
