{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
<div id="bodyCafe">
    {% include 'includes/navbar.html.twig' %}
    <h1>La page du Café</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, facilis earum veritatis ipsa perferendis modi 
    architecto autem odit id alias expedita temporibus nesciunt officiis aliquam animi doloremque fugit ex fugiat
        dolore ad at voluptatum non! Libero necessitatibus non accusantium aliquam fugit corporis, deleniti, culpa 
        alias modi nemo maxime nulla amet!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatem est, dolorem porro mollitia ipsum! 
    Tempora et sequi maxime error ex enim neque est ab! Cumque repellat est incidunt hic.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, facilis earum veritatis ipsa perferendis modi 
    architecto autem odit id alias expedita temporibus nesciunt officiis aliquam animi doloremque fugit ex fugiat
        dolore ad at voluptatum non! Libero necessitatibus non accusantium aliquam fugit corporis, deleniti, culpa 
        alias modi nemo maxime nulla amet!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatem est, dolorem porro mollitia ipsum! 
    Tempora et sequi maxime error ex enim neque est ab! Cumque repellat est incidunt hic.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, facilis earum veritatis ipsa perferendis modi 
    architecto autem odit id alias expedita temporibus nesciunt officiis aliquam animi doloremque fugit ex fugiat
        dolore ad at voluptatum non! Libero necessitatibus non accusantium aliquam fugit corporis, deleniti, culpa 
        alias modi nemo maxime nulla amet!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatem est, dolorem porro mollitia ipsum! 
    Tempora et sequi maxime error ex enim neque est ab! Cumque repellat est incidunt hic.
    </p>
    {% include 'includes/footbar.html.twig' %}
</div>
{% endblock %}
