{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
<div id="bodyCafe">
    {% include 'includes/navbar.html.twig' %}
    {# <h1>La page du Café</h1> #}
    <section>
        <div id="test3">
            <h2>Le café " do Brazil " !</h2>
            <p>Premier producteur mondial, le Brésil est depuis de nombreuses années le leader incontesté du marché.
                Retrouvez sans attendre nos meilleures selections !
            </p>
            <a href="#">Cliquez ici</a>
        </div>
    </section>     
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, facilis earum veritatis ipsa perferendis modi 
    architecto autem odit id alias expedita temporibus nesciunt officiis aliquam animi doloremque fugit ex fugiat
        dolore ad at voluptatum non! Libero necessitatibus non accusantium aliquam fugit corporis, deleniti, culpa 
        alias modi nemo maxime nulla amet!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatem est, dolorem porro mollitia ipsum! 
    Tempora et sequi maxime error ex enim neque est ab! Cumque repellat est incidunt hic.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, facilis earum veritatis ipsa perferendis modi 
    architecto autem odit id alias expedita temporibus nesciunt officiis aliquam animi doloremque fugit ex fugiat
        dolore ad at voluptatum non! Libero necessitatibus non accusantium aliquam fugit corporis, deleniti, culpa 
        alias modi nemo maxime nulla amet!
    </p>
    <section>
        <div id="test2">
            <h2>Le café Columbien</h2>
            <p>4 ème au classement des producteurs mondiaux, les Colombiens n'ont pas à rougir de la qualité
                de leur produits, laissez vous tenter ...
            </p>
            <a href="#">Cliquez ici</a>
        </div>
    </section> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatem est, dolorem porro mollitia ipsum! 
    Tempora et sequi maxime error ex enim neque est ab! Cumque repellat est incidunt hic.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, facilis earum veritatis ipsa perferendis modi 
    architecto autem odit id alias expedita temporibus nesciunt officiis aliquam animi doloremque fugit ex fugiat
        dolore ad at voluptatum non! Libero necessitatibus non accusantium aliquam fugit corporis, deleniti, culpa 
        alias modi nemo maxime nulla amet!
    </p>
    <section>
        <div id="test">
            <h2>L' Ethiopien</h2>
            <p>Une selection des meilleurs grains produits par des fermiers engagés, laissez vous tenter sans
                plus attendre !
            </p>
            <a href="#">Cliquez ici</a>
        </div>
    </section> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatem est, dolorem porro mollitia ipsum! 
    Tempora et sequi maxime error ex enim neque est ab! Cumque repellat est incidunt hic.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, facilis earum veritatis ipsa perferendis modi 
    architecto autem odit id alias expedita temporibus nesciunt officiis aliquam animi doloremque fugit ex fugiat
        dolore ad at voluptatum non! Libero necessitatibus non accusantium aliquam fugit corporis, deleniti, culpa 
        alias modi nemo maxime nulla amet!
    </p>
    {% include 'includes/footbar.html.twig' %}
</div>
{% endblock %}
