<footer>
        <a href="{{path('home')}}">Accueil</a>
        <a href="mailto:lapipe@lecafe.fr" class="mailto" id="mailto">lapipe@lecafe.fr</a>
        <a href="tel:+0125252525" class="tel">01 25 25 25 25</a>
        <a href="#">(c) 2021 SJ.DEV</a>
</footer>