
<footer>
        <ul>
            <li><a href="{{path('home')}}">Accueil</li>
            <li><a href="mailto:lapipe@lecafe.fr" class="mailto" id="mailto">lapipe@lecafe.fr</a></li>
            <li><a href="tel:+0125252525" class="tel">01 25 25 25 25</a></li>
            <li>(c) 2021 SJ.DEV</li>
        </ul>
</footer>
