<nav id="navbar">
    <ul>
        <li><a href="{{path('home')}}">Accueil</li>
        <li><a href="{{path('leCafe')}}">Le café</li>
        <li><a href="{{path('laPipe')}}">La pipe</li>
        <li><a href="#">Se connecter</li>
    </ul>
</nav>