<progress max="100" value="0"></progress>
<nav>
    <a href="{{path('home')}}">Accueil</a>
    <a href="{{path('leCafe')}}">Le café</a>
    <a href="{{path('laPipe')}}">La pipe</a>
    <a href="#">Se connecter</a>
</nav>