body {
    background-color: lightgray;
    font-size: 2em;
    margin: 0;
    padding: 0;
}
#containerIntro{
    width: fill;
    height: 100vh;
    display: flex;
    place-content: space-between;
    background:url("/public/images/tasse-centrale.png")no-repeat center center fixed;
    background-size: 60%;
    overflow-x: hidden;
}
#blocEntrantGauche{
    width: 40%;
    height: fill;
    background:url("/public/images/pipe-gauche.png")no-repeat center center fixed;
    background-size: 100%;
}
#blocEntrantDroite{
    width: 40%;
    height: fill;
    background:url("/public/images/tasse-droite.png")no-repeat center center fixed;
    background-size: 100%;
}
/* Mise en place écritures intro */
#textePipeIntro{
    color: #3c2213;
    position: absolute;
    font-size: 150px;
    font-family: 'Dancing Script', cursive;
}
#texteOuIntro{
    color: white;
    position: relative;
    display: none;
}
#texteCafeIntro{
    color: #aa7b4f;
    position: relative;
    font-size: 150px;
    position: absolute;
    font-family: 'Festive', cursive;
}
/* Fin mise en place écritures intro */