body {
    background: linear-gradient(0.25turn, #aa7b4f, #ebf8e1, #3c2213);
    font-size: 2em;
    margin-left: 10%;
    margin-right: 10%;
    /* padding: 2%; */
    /* width: auto; */

}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
 #bodyPipe a, #bodyPipe {
    cursor: url("/public/images/curseurPipe.png"),auto;
} 
#bodyCafe a,#bodyCafe{
    cursor: url("/public/images/curseurCafe.png"),auto;
}  

nav{
    border-bottom: 1px solid black;
    padding: 2%;
    display:flex;
    justify-content: space-around;
    list-style: none;
}
nav a:after,footer a:after {
  display:block;
  content: '';
  border-bottom: solid 3px #a17e3d;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
nav a:hover:after, footer a:hover:after { transform: scaleX(1); }
nav a.fromRight:after, footer a.fromRight:after{ transform-origin:100% 50%; }
nav a.fromLeft:after, footer a.fromLeft:after{  transform-origin:  0% 50%; }
footer{
    border-top: 1px solid black;
    padding: 2%;
    display:flex;
    justify-content: space-around;
    list-style: none;
}
#bodyConstruct{
    text-align: center;
}
#grue{
    position: relative;
    /* right: 1600px; */
}
#grue img{
    width: 70%;
}
/* Progress bar */
progress {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  border: none;
  background: transparent;
}
progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  background: linear-gradient(to left, #db38b5,#01b3e3,#25ce7b,#fdc741,#ff6b01,#fc4236);
  background-attachment: fixed;
}
progress::-moz-progress-bar {
  background: linear-gradient(to left, #db38b5,#01b3e3,#25ce7b,#fdc741,#ff6b01,#fc4236);
  background-attachment: fixed;
}
/* Fin progress bar */
a{
    text-decoration: none;
    color: black;
}
#containerIntro{
    width: fill;
    height: 100vh;
    display: flex;
    place-content: space-between;
    background:url("/public/images/tasse-centrale.png")no-repeat center center ;
    background-size: 50%;
}
#blocEntrantGauche{
    width: 40%;
    height: fill;
    background:url("/public/images/pipe-gauche.png")no-repeat center center ;
    background-size: 100%;
    cursor: url("/public/images/curseurPipe.png"),auto;
}
#blocEntrantDroite{
    width: 40%;
    height: fill;
    background:url("/public/images/tasse-droite.png")no-repeat center center ;
    background-size: 100%;
    cursor: url("/public/images/curseurCafe.png"),auto;
}
/* Mise en place écritures intro */
#textePipeIntro{
    position: absolute;
    font-size: 150px;
    font-family: 'Dancing Script', cursive;
    text-decoration: 1px black solid;
}
#textePipeIntro a{
    cursor: url("/public/images/curseurPipe.png"),auto;
    color: #3c2213;
}
#texteOuIntro{
    color: white;
    position: relative;
    display: none;
}
#texteCafeIntro{
    position: absolute;
    font-size: 150px;
    font-family: 'Festive', cursive;
    text-decoration: 1px black solid;
}
#texteCafeIntro a{
    cursor: url("/public/images/curseurCafe.png"),auto;
    color: #aa7b4f;
}
#textePipeIntro:hover a{
    text-decoration: overline underline dotted whitesmoke;
    transition: all 0.4s ease-in-out;
}
#texteCafeIntro:hover a{
    text-decoration: overline underline wavy whitesmoke;
    transition: all 0.4s ease-in-out;
}
/* Fin mise en place écritures intro */

/* Mise en place animation images intro */
#blocEntrantGauche:hover{
    background-image: url("/public/images/fond_gauche_intro.png");
    /* background-size: cover; */
}
#blocEntrantDroite:hover{
    background-image: url("/public/images/fond_droite_intro.png");
    /* background-size: cover; */
}
/* Fin mise en place animation images intro */


 
/* Début animations articles page Pipe + Café */

#test{
    border: 0.2em solid #01b3e3;
    margin-left: 45%;
    padding: 5%;
}
#test2{
    border: 0.2em solid #db38b5;
    margin: 5%;
    padding: 5%;
}
#test3{
    border: 0.2em solid #ff6b01;
    margin-right: 45%;
    padding: 5%;
}



/* Fin animations articles page Pipe + Café */





/* Début responsive */
@media (max-width: 990px){
/* body{
    background-color: pink;
} */
/* #containerIntro{
    background-color: red;
}
#blocEntrantGauche{
    background-color: blue;
}
#blocEntrantDroite{
    background-color: green;
} */
#textePipeIntro{
    position: fixed;
    }
#texteCafeIntro{
    position: fixed;
    }
}

/* Fin responsive */

